<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>CoderHouse - Curso Programación BackEnd</title>
        <link href="css/styles.css" rel="stylesheet" />
        <link href="css/table.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    </head>
    <body class="sb-nav-fixed">

        {{> navbar }}

        <div id="layoutSidenav">

            {{> sidenav }}

            <div id="layoutSidenav_content">

                {{{ body }}}

            </div>
        </div>

        {{> scripts }}

    </body>
</html>